body {
  min-width: 640px;
  min-height: 100vh;
}

.layout {
  display: grid;
  grid-template-columns: 240px 1fr;
  min-height: 100vh;
}

aside {
  padding: 24px;
  background: #f6f5f4;
  font-size: 16px;
}

main {
  padding: 24px;
}

h1 {
  margin: 0;
  font-size: 20px;
}

ul {
  display: grid;
  gap: 12px;
  padding: 0;
  list-style: none;
}

li {
  display: grid;
  gap: 4px;
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

li a {
  width: fit-content;
  color: hsl(207 80% 40%);
  font-size: 15px;
  font-weight: 600;
}

.url,
time {
  color: #666;
  overflow-wrap: anywhere;
}

time {
  font-size: 12px;
}
